<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>class-test-exp-5</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    


<!-- OUTER BOX -->
<table border="1" cellpadding="15" cellspacing="0" align="center">
<tr>
<td>

<h1 align="center">Hotel Room Booking Form</h1>

<form>
<table cellpadding="5" cellspacing="5" align="center">
<tr>
    <td>Full Name:</td>
    <td><input type="text"></td>
</tr>

<tr>
    <td>Email:</td>
    <td><input type="email"></td>
</tr>

<tr>
    <td>Phone:</td>
    <td><input type="text"></td>
</tr>

<tr>
    <td>Check-in Date:</td>
    <td><input type="date"></td>
</tr>

<tr>
    <td>Check-out Date:</td>
    <td><input type="date"></td>
</tr>

<tr>
    <td>Room Type:</td>
    <td>
        <select>
            <option>Single Room</option>
            <option>Double Room</option>
            <option>Deluxe Room</option>
        </select>
    </td>
</tr>

<tr>
    <td>Number of Guests:</td>
    <td><input type="number"></td>
</tr>

<tr>
    <td>Special Requests:</td>
    <td><textarea rows="4" cols="20"></textarea></td>
</tr>

<tr>
    <td colspan="2" align="center">
        <input type="submit" value="Book Now">
        <input type="reset" value="Reset Form">
    </td>
</tr>
</table>
</form>

</td>
</tr>
</table>
</body>
</html>