body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: lightcoral;
}
.container{
    display: flex;
    gap: 5px;
    flex-direction: column-reverse;
    background-color: lightpink;
    padding: 10px;
    border: 1px solid rosybrown;
}
.box{
    color: thistle;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}
.box1 {
    background-color: lightseagreen;
}
.box2{
    background-color: mediumorchid;
}
.box3{
    background-color: cadetblue;
}
.box4{
    background-color: cornflowerblue;
}
.box5{
    background-color: mediumpurple;
}