.container {
  display: flex;
  border: 1px dashed #888;
  padding: 10px;
  margin-bottom: 20px;
  min-height: 80px;
  align-items: center; /* vertically center boxes */
}

.container.center {
  justify-content: center;
}

.container.space-between {
  justify-content: space-between;
}

.container.space-around {
  justify-content: space-around;
}

.container.space-evenly {
  justify-content: space-evenly;
}

.box {
  background-color: lightcoral;
  padding: 20px;
  border: 1px solid #333;
  text-align: center;
}