
.container {
  display: flex;
  height: 200px;
  background: #eee;
  border: 1px solid #aaa;
}

.container.flex-end {
  align-items: flex-end;
}
.item {
  background: #4da3ff;
  padding: 10px;
  margin: 5px;
}